/* This CSS only for custom style in Admin page */

.wrong-submitted-answer{
	font-style: italic;
	color: #E62129;
}
.right-submitted-answer{
	font-style: italic;
	color: #3ADF00;
}
.label-required{
	color: #ff0000;
	font-style: italic;
}
.table-question img, .table-question p{
	max-width: 400px
}