#wrap {
    width: 1100px;
    margin: 0 auto;
}
     
#external-events {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}
    
#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
    
#external-events .fc-event {
    margin: 10px 0 0 0;
    cursor: pointer;
}
    
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
    
#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
        max-width: 900px;
        margin: 0 auto;
    }

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 20px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}
.navbar-toggle{
    background-color: #1DA59B;
}
.navbar-toggle .icon-bar{
    background-color: #fff;
}
.navigation ul li{
    background-color: #fff;
}
.padding30{
    padding:30px;
    margin:0px 0px 30px 0px;
}

/*.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(chevrondowncircle_33.png) no-repeat right #ddd;
   border: 1px solid #00A49B;
   }*/
.styled-select{
    /*background: transparent url(chevrondowncircle_20.png) no-repeat right center;*/
    background-image: url('chevrondowncircle_20.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 95% 50%;
    padding:6px 20px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: 1px solid #00A49B;
    border-radius: 30px;
    height: 40px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}
.styled-select option{
    background-color: #fff;
    padding: 3px 0 0 20px;
    border-right: 1px solid #00A49B;
}
.student-form .header p{
    color: #FFFFFF;
}
.home-btn-search{
    width:100%;
    text-transform:uppercase;
    font-weight: bold;
}
.language{
    float:right;
    margin-top: 15px;

}
.language ul{
    list-style: none;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #00A49B;
    padding: 7px;
}
.language ul li{
    display:inline;
    font-size: 12px;
    font-family: "LatoMedium";
    color: #fff;
}
.language ul li a{
    color: #fff;
}

/* UI tabs vertical */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
/*.tutor-list{
    background-color:transparent;
    border-style: solid;
    border-width:5px 1px 1px 1px;
    border-color: #333333 #00A49B #00A49B #00A49B;
    padding:10px 0px;
    margin-bottom: 15px
}
@media (min-width: 992px) {
    .tutor-list{
        background-color:transparent;
        border-style: solid;
        border-width:5px 1px 1px 1px;
        border-color: #333333 #00A49B #00A49B #00A49B;
        padding:10px 0px;
        min-height: 290px;
        margin-bottom: 15px
    }
}
.tutor-list .row{
    margin: 15px;
}
.tutor-list .row .list{
    padding-bottom: 15px;
}*/
.newsletter-contant .input-group-addon{
    background-color: transparent;
}
.newsletter-contant .input-group-addon a{
    color:#fff;
}
.newsletter-contant .input-group-addon a:hover, .newsletter-contant .input-group-addon a:focus{
    text-decoration: none;
}
.widget-newsletter img{
    margin-top: 90px;
}
.owl-carousel .item {
    background: #4dc7a0 none repeat scroll 0 0;
    height: 10rem;
    padding: 1rem;
}
.find-tutor-now{
    margin-top: 70px;
    color: #fff;
    text-align: left;
}
.find-tutor-now h3{
    font-size: 44px;
    font-family: "LatoBold";
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 60px;
}
.find-tutor-now h4{
    margin-top: 20px;
    font-size: 20px;
    font-family: "LatoHeavy";
    letter-spacing: 2px;
}
.profile .title{
    background-color: #E6E7E8;
    padding: 0 2px;
    min-height: 150px;
}
.profile .footer{
    background-color: #00A49B;
    color: #fff;
    min-height: 150px;
}
.profile .footer p:first-child{
    padding-top: 10px
}
.fa-root-menu-title{
    color: #00A49B;
    float: left;
    margin-left: 10px;
}
.menu-title{
    letter-spacing: 2px;
    margin-top: 20px;
}
.menu-title-fix{
    font-size: 16px;
    color: #5C595B;
    float: left;
    margin: 10px 0 0 10px;
}
#btn-search-from-left-sidebar, #btn-search-from-right-sidebar{
    background-color: #00A49B;
    color: #fff;
    border-radius: 5px;
    border: medium none;
}
#btn-filter-from-right-sidebar{
    background-color: #00A49B;
    color: #fff;
    border-radius: 5px;
    border: medium none;
    margin-top: 20px;
    padding: 5px 0;
}
.profile .thumb img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 1px solid #E6E7E8;
}

.profile .thumb {
    width: 100%;
    height: 350px;
    background-color: #E6E7E8;
    

}

.btn-ibanking{
    padding: 8px;
    background-color: #0D4E96;
    border-radius: 15px;
}

.label-required{
    color: #ff0000;
    font-style: italic;
}
.div-year-out{
    margin-top: 8px;
}